<!DOCTYPE html>
<html>
<head>
    <title>Campaign Editor</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>

    {{#each availableServices}}
      {{#if currentApplication}}
          <link rel="shortcut icon" type="image/x-icon" href="{{location}}/img/favicon.ico">
          <link rel="stylesheet" href="{{location}}/css/ocui-bootstrap-bundle-0.1.2.css">
          <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
          <link rel="stylesheet" href="{{location}}/css/custom.css">
          <script src="{{location}}/static/bundle.js"></script>
          <script src="{{location}}/vendor/js/jquery-3.1.1.min.js"></script>
          <script src="{{location}}/vendor/js/bootstrap-3.1.1.min.js"></script>
      {{/if}}
    {{/each}}
</head>
<body>
<span id="root"></span>
<script type="text/javascript">
    window.campaigns.renderCampaignEditor(document.getElementById("root"), {
        locale: 'en',
        formatPatterns: {
            'en': {
                'datePattern': 'MM/dd/yyyy',
                'integerPattern': '#,##0',
                'numberPattern': '#,##0.00',
                'numberDecimalSeparator': '.',
                'numberGroupingSeparator': ',',
                'numberGroupingSeparatorUse': true
            },
            'de': {
                'datePattern': "dd.MM.yyyy",
                'integerPattern': "#,##0",
                'numberPattern': "#,##0.00",
                'numberDecimalSeparator': ",",
                'numberGroupingSeparator': ".",
                'numberGroupingSeparatorUse': true
            }
        },
        availableServices: {{{json availableServices}}},
        currentUserInfo: {
            username: 'jcadmin'
        }
    });
</script>
</body>
</html>
